*{
	font-style: '宋体'；
}
body{
	font-size:15px;
	color:#522a06;
	background-image:url(../images/yinchun.jpg);
	background-repeat: repeat;
	background-color: #000000;

}
a:link{
	text-decoration:none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration:underline;
}

/*页头部分*/
#header{
	width:1500px;
	height:205px;
	background-image:url(../images/tou.jpg);
	background-repeat:repeat;
	background-position:center top;
}
#banner{
	width:1000px;
	height:164px;
	position:center;
}
#nav{
	height:40px;
	width:1500px;
	background-image:url(../images/nav.jpg);
	overflow: hidden;
}
#logo{
	position:relative;
	top:30px;
	left:10px;
	width: 200px;
	height: 100px;
}
.nav_body{
	position:center;
}
.nav_content{
	float: left; 
	width:850px;
	font-weight:bold;
	margin-left:90px;
 	padding-top:8px;
 	color: #fff;
}
.nav_search{
	float: left;
	margin-top: 6px;
	margin-left: 100px;
}
.a{
	color:#f9f603;
	margin:7px;
}
.a:link{
	text-decoration:none;
}
.a:visited{
	text-decoration:none;
}
.a:hover{
	color:black;
	text-decoration:underline;
}
.b{
	color:black;
	margin:10px;
}
.b:link{
	text-decoration:none;
}
.b:hover{
	color:black;
	text-decoration:underline;
}
.shuru{
	width: 140px;
	height: 19px;
	background-color: #f8f5ee;
}
.sous{
	width:44px;
	height:21px;
	background-color:#000;
	color:#fff;
	border:1px solid #f8f5ee;
}
/*页面正文*/
#text{
	width:1000px;
	overflow:hidden;
	position:center;
	height:900px;
	clear:both;
	margin-left:100px;
}
	.text_left{
		position: center;
		width:1000px;
		height:800px;
	}
		.first{
			height:40px;
			padding-left:43px;}
		h1{color: purple;
			position: center;}
		p{
			text-indent:2em;
			color: black;
			position: center;
		}
		p img{
			margin:20px;
		}
	
		}
			ul{
				line-height:30px;
				margin-left:13px;
				list-style-type:none;
			}
		
			
/*页脚部分*/
#footer{
	clear: both;
	width: 1500px;
	height: 150px;
	background-image: url(../images/foot.gif);
}
.jia{
	height: 25px;
	width: 1000px;
	margin-left: 450px;
}
.jiao{
	font-weight: left;
	color:#522a06;
	font-weight: bold;
	margin-right: 5px;
	margin-left: 10px;
}
.line{
	margin-left: 450px;
}
.yo{
	margin-left: 470px;
}
.yoo{
	margin-left: 500px;
}